*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
    font-size: 14px;
    font-weight: 500;
    color: #252B42;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --color-light: #fff;
    --color-grey: #737373;
    --color-blue: #0D5C63;
    --color-dark: #252B42;
    --color-orange: #FF7B47;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1077px;
    margin: 0 auto;
    padding: 0 15px;
}

.background {
    position: relative;
}

.background img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* --------------------Header---------------------- */

.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}

.header__container {
    display: flex;
    min-height: 104px;
    align-items: center;
}

.header__menu {
    margin: 0 0 0 133px;
}

.header__logo {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    letter-spacing: 0.1px;
    color: var(--color-dark);
}

.menu {
    padding: 5px 0;
}

.menu__list {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: flex-start;
}

.menu__item:not(:last-child) {
    margin-right: 21px;
}

.menu__link {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: var(--color-grey);
}


/* --------------------Main---------------------- */

.main {
    flex: 1 1 auto;
}

.main__block {
    position: relative;
}

.block__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.block__inner {
    padding: 184px 0 191px 0;
    position: relative;
    z-index: 2;
    max-width: 510px;
}

.block__inner > *:not(:last-child) {
    margin-bottom: 35px;
}

.block__title {
    font-style: normal;
    font-weight: 800;
    font-size: 58px;
    line-height: 138%;
    letter-spacing: 0.2px;
    color: var(--color-dark);
}

.block__text {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.2px;
    color: var(--color-grey);
    max-width: 376px;
}

.block__buttons {
    display: flex;
    flex-wrap: wrap;
}

.block__button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-orange);
    border-radius: 37px;
    border: 1px solid var(--color-orange);
    padding: 10px 36px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 200%;
    text-align: center;
    letter-spacing: 0.2px;
    color: var(--color-light);
    margin-bottom: 10px;
}

.block__button:not(:last-child) {
    margin-right: 10px;
}

.block__button_transparent {
    border: 1px solid var(--color-blue);
    background-color: transparent;
    color: var(--color-blue);
}


/* --------------------Services---------------------- */

.services {
    position: relative;
    z-index: 2;
    margin-top: -111px;
}

.services__block {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px -30px;
}

.services__column {
    padding: 0 15px;
    flex: 0 1 33.333%;
    margin-bottom: 30px;
}

.services__item {
    height: 100%;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    background-color: var(--color-light);
    padding: 35px;
    transition: transform 0.2s linear;
}

.services__item:hover {
    transform: scale(1.1);
    background-color: antiquewhite;
}

.item-service > *:not(:last-child) {
    margin-bottom: 10px;
}

.item-service__title {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.33;
    letter-spacing: 0.1px;
    color: var(--color-dark);
}

.item-service__text {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 0.2px;
    color: var(--color-grey);
    max-width: 235px;
}


/* --------------------Statistic---------------------- */


.statistic__header {
    padding: 70px 0;
}

.header-block {
    text-align: center;
    padding: 80px 0;
}

.header-block__title {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.42;
    letter-spacing: 0.2px;
    color: var(--color-dark);
    margin-bottom: 10px;
}

.header-block__text {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 0.2px;
    color: var(--color-grey);
    max-width: 511px;
    margin: 0 auto;
}

.statistic__block {
    display: flex;
    align-items: center;
}

.statistic__column {
    flex: 0 1 25%;
    text-align: center;
}

.statistic__item {
    padding: 30px;
}

.statistic__item > *:not(:last-child) {
    margin-bottom: 10px;
}

.statistic__value {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.42;
    letter-spacing: 0.2px;
    color: var(--color-dark);
}

.statistic__text {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.1px;
    color: var(--color-grey);
}


/* --------------------Advice---------------------- */


.advice__block {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.advice__column {
    flex: 0 1 25%;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 15px;
}

.advice__item {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.item-advice__content {
    background-color: var(--color-light);
    padding: 30px;
    flex: 1 1 auto;
}

.advice__title {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.1px;
    max-width: 135px;
    margin-bottom: 15px;
}

.advice__link {
    color: var(--color-dark);
    display: inline-block;
}

.advice__link:not(:last-child) {
    margin-bottom: 15px;
}

.advice__text {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 0.2px;
    color: var(--color-grey);
    max-width: 180px;
}

.advice__icon {
    display: block;
    padding: 0 0 60% 0;
}





/* --------------------Footer---------------------- */
